    <h3>予約済一覧</h3>
 
    <table>
      <thead>
        <tr>
          <th>ルーム画像</th>
          <th>ルーム名</th>
          <th>ルーム紹介</th>
          <th>予約開始日</th>
          <th>予約終了日</th>
          <th>宿泊日数</th>
          <th>人数</th>
          <th>合計金額</th>
          <th>キャンセル</th>
        </tr>
      </thead>
 
      <tbody>
        <% @reservations .each do |reservation| %>
          <tr>
            <%#<td><% if reservation.room.room_image? %>
            <%#<%= image_tag reservations.room.room_image.url %>
            <%#<% end %></td>
            <td><%= reservation.room.room_name %></td>
            <td><%= reservation.room.room_introduction %></td>
            <td><%= reservation.start_date %></td>
            <td><%= reservation.end_date %></td>
            <td><%= (reservation.end_date - reservation.start_date).to_i %>日</td>
            <td><%= reservation.number_of_people %>名</td>
            <td><%= (reservation.end_date - reservation.start_date).to_i  * reservation.total_price %>円</td>
            <td><%= link_to "キャンセル", reservation, method: :delete, data: { confirm: "本当にキャンセルしますか？" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
 
    <p><%= link_to "ルーム一覧", :rooms %></p>